@page "/csomor"
@page "/csomor/{Id:int}"

<div class="setting">
    <h1 class="em-page-title">
        Generator Settings
        @if (Id != null)
        {
            <span>#@Id</span>
        }
        else
        {
            @if (Model != null)
            {
                <span>- @Model.Title</span>
            }
        }
    </h1>
    <div class="action-bar">
        <MatTooltip Tooltip="Save">
            <MatIconButton RefBack="@context" Icon="done" @onclick="SaveSettings"></MatIconButton>
        </MatTooltip>
    </div>
    <div class="csomor">
        <MatTabGroup Class="tabs tab-group">
            <MatTab Label="Settings">
                <EditForm EditContext="Context">
                    <DataAnnotationsValidator />
                    <div class="input-row">
                        <MatTextField class="w-100" @bind-Value="Model.Title" Label="Title" Dense="true" Outlined="true"></MatTextField>
                        <ValidationMessage For="() => Model.Title" />
                    </div>
                    <div class="col col-12 row">
                        <div class="input-row col col-12 col-md-6">
                            <MatDatePicker class="w-100" Value="@Model.Start" ValueExpression="@(() => Model.Start)" TValue="DateTime" ValueChanged="@(date => ReSetup(date, "start"))" EnableTime="true" Enable24hours="true" AllowInput="false" Label="Start" Dense="true" Outlined="true"></MatDatePicker>
                            <ValidationMessage For="() => Model.Start" />
                        </div>
                        <div class="input-row col col-12 col-md-6">
                            <MatDatePicker class="w-100" Value="@Model.Finish" ValueExpression="@(() => Model.Finish)" TValue="DateTime" ValueChanged="@(date => ReSetup(date, "finish"))" EnableTime="true" Enable24hours="true" AllowInput="false" Label="Finish" Dense="true" Outlined="true"></MatDatePicker>
                            <ValidationMessage For="() => Model.Finish" />
                        </div>
                    </div>
                    <div class="col col-12 row">
                        <div class="input-row col col-12 col-md-6">
                            <MatNumericUpDownField class="w-100" @bind-Value="Model.MaxWorkHour" Label="Maximum Work Hour" Dense="true" Minimum="1" Maximum="8" Outlined="true"></MatNumericUpDownField>
                            <ValidationMessage For="() => Model.MaxWorkHour" />
                        </div>
                        <div class="input-row col col-12 col-md-6">
                            <MatNumericUpDownField class="w-100" @bind-Value="Model.MinRestHour" Label="Minimum Rest Hour" Dense="true" Minimum="1" Maximum="4" Outlined="true"></MatNumericUpDownField>
                            <ValidationMessage For="() => Model.MinRestHour" />
                        </div>
                    </div>
                </EditForm>
            </MatTab>
            <MatTab Label="Person">
                <EditForm EditContext="PersonContext">
                    <DataAnnotationsValidator />
                    <div class="input-row">
                        <MatTextField class="w-100" @bind-Value="PersonModel.Name" Label="Name" Dense="true" Outlined="true"></MatTextField>
                        <ValidationMessage For="() => PersonModel.Name" />
                    </div>
                    <div class="action">
                        <span class="spacer"></span>
                        <MatButton Raised="true" @onclick="AddPerson">Add</MatButton>
                    </div>
                </EditForm>
                @if (Model.Persons.Count > 0)
                {
                    <div class="list">
                        @foreach (var person in Model.Persons)
                        {
                            <div class="entity">
                                <div class="data-row"><strong>Name: </strong> @person.Name</div>
                                <div class="data-row">
                                    <strong>Settings:</strong> <br />
                                    <MatCheckbox @bind-Value="person.IsIgnored" Label="Is Ignored" ></MatCheckbox> <br />

                                    @foreach (var table in person.Tables)
                                    {
                                        <span class="box">
                                            <MatCheckbox @bind-Value="table.IsAvailable" Label="@ManagerAPI.Shared.Helpers.WriteHelper.HourInterval(table.Date, 1)"></MatCheckbox>
                                        </span>
                                    }

                                    <br />

                                    @foreach(var ignoredWork in Model.Works)
                                    {
                                        <span class="box">
                                            <MatCheckbox ValueChanged="@(val => IgnoredWorkChange(person, ignoredWork, val))" TValue="bool" Value="WorkIsIgnored(person, ignoredWork)" Label="@ignoredWork.Name"></MatCheckbox>
                                        </span>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
            </MatTab>
            <MatTab Label="Works">
                <EditForm EditContext="WorkContext">
                    <DataAnnotationsValidator />
                    <div class="input-row">
                        <MatTextField class="w-100" @bind-Value="WorkModel.Name" Label="Name" Dense="true" Outlined="true"></MatTextField>
                        <ValidationMessage For="() => WorkModel.Name" />
                    </div>
                    <div class="action">
                        <span class="spacer"></span>
                        <MatButton Raised="true" @onclick="AddWork">Add</MatButton>
                    </div>
                </EditForm>
                @if (Model.Works.Count > 0)
                {
                    <div class="list">
                        @foreach (var work in Model.Works)
                        {
                            <div class="entity">
                                <div class="data-row"><strong>Name: </strong> @work.Name</div>
                                <div class="data-row">
                                    <strong>Settings:</strong> <br />

                                    @foreach (var table in work.Tables)
                                    {
                                        <span class="box">
                                            <MatCheckbox @bind-Value="table.IsActive" Label="@ManagerAPI.Shared.Helpers.WriteHelper.HourInterval(table.Date, 1)"></MatCheckbox>
                                        </span>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
            </MatTab>
            <MatTab Label="Csomor">

            </MatTab>
        </MatTabGroup>
    </div>
</div>