@page "/books/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="sl-book-data">
    @if (Book != null)
    {
        <h1 class="em-page-title">@Book.Name</h1>
    }
    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        <div class="action-bar">
            <MatButton @onclick="OpenEditBookDialog">Edit</MatButton>
            <MatButton @onclick="DeleteBook">Delete</MatButton>
            @if (Book != null)
            {
                @if (Book.IsMine)
                {
                    <MatButton @onclick="RemoveFromMyBooks">Remove From My Books</MatButton>
                }
                else
                {
                    <MatButton @onclick="AddToMyBooks">Add to My Books</MatButton>
                }
            }
            <span class="spacer"></span>
            <MatButton @onclick="@(() => Navigation.NavigateTo("/books"))">Book List</MatButton>
            <MatButton @onclick="@(() => Navigation.NavigateTo("/my-books"))">My Book List</MatButton>
        </div>
        @if (Book != null)
        {
            <div class="data">
                <div class="data-row">
                    <strong>Author: </strong> @Book.Author
                </div>
                <div class="data-row">
                    <strong>Description: </strong> @HelperService.WriteEmptyableField(Book.Description)
                </div>
                <div class="data-row">
                    <strong>Publish: </strong> @HelperService.DateToString(Book.Publish)
                </div>
                <div class="data-row">
                    <strong>Creation: </strong> @HelperService.DateToString(Book.Creation)
                </div>
                <div class="data-row">
                    <strong>Last Update: </strong> @HelperService.DateToString(Book.LastUpdate)
                </div>
                <div class="data-row">
                    <strong>Creator: </strong> @Book.Creator
                </div>
                <div class="data-row">
                    <strong>Last Updater: </strong> @Book.LastUpdater
                </div>
            </div>
        }
    }
</div>