@page "/books/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using ManagerAPI.Shared.Helpers
@attribute [Authorize]

<div class="sl-book-data">
    @if (Book != null)
    {
        <h1 class="em-page-title">@Book.Name</h1>
    }
    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        <div class="action-bar">
            <MatTooltip Tooltip="Edit Book">
                <MatIconButton RefBack="@context" Icon="edit" @onclick="OpenEditBookDialog"></MatIconButton>
            </MatTooltip>
            <MatTooltip Tooltip="Delete Book">
                <MatIconButton RefBack="@context" Icon="delete" @onclick="OpenDeleteDialog"></MatIconButton>
            </MatTooltip>
            @if (Book != null)
            {
                @if (Book.IsMine)
                {
                    <MatTooltip Tooltip="Remove from My list">
                        <MatIconButton RefBack="@context" Icon="remove" @onclick="RemoveFromMyBooks"></MatIconButton>
                    </MatTooltip>
                    @if (Book.IsRead)
                    {
                        <MatTooltip Tooltip="Set to not read">
                            <MatIconButton RefBack="@context" Icon="visibility_off" @onclick="@(() => SetReadStatus(false))"></MatIconButton>
                        </MatTooltip>
                    }
                    else
                    {
                        <MatTooltip Tooltip="Set to read">
                            <MatIconButton RefBack="@context" Icon="visibility" @onclick="@(() => SetReadStatus(true))"></MatIconButton>
                        </MatTooltip>
                    }
                }
                else
                {
                    <MatTooltip Tooltip="Add to My list">
                        <MatIconButton RefBack="@context" Icon="add" @onclick="AddToMyBooks"></MatIconButton>
                    </MatTooltip>
                }
            }
            <span class="spacer"></span>
            <MatButton @onclick="@(() => Navigation.NavigateTo("/books"))">Book List</MatButton>
            <MatButton @onclick="@(() => Navigation.NavigateTo("/my-books"))">My Book List</MatButton>
        </div>
        @if (Book != null)
        {
            <div class="data">
                <div class="data-row">
                    <strong>Author: </strong> @Book.Author
                </div>
                <div class="data-row">
                    <strong>Description: </strong> @WriteHelper.WriteEmptyableField(Book.Description)
                </div>
                <div class="data-row">
                    <strong>Publish: </strong> @DateHelper.DateToString(Book.Publish)
                </div>
                <div class="data-row">
                    <strong>Creation: </strong> @DateHelper.DateToString(Book.Creation)
                </div>
                <div class="data-row">
                    <strong>Last Update: </strong> @DateHelper.DateToString(Book.LastUpdate)
                </div>
                <div class="data-row">
                    <strong>Creator: </strong> @Book.Creator
                </div>
                <div class="data-row">
                    <strong>Last Updater: </strong> @Book.LastUpdater
                </div>
            </div>
        }
    }
</div>