@page "/episodes/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using ManagerAPI.Shared.Helpers
@attribute [Authorize(Roles = "Administrator,Status Library User,Status Library Moderator,Status Library Administrator,Root")]

<div class="sl-episode-data">
    @if (Episode != null)
    {
        <h1 class="em-page-title">@Episode.Title</h1>
    }
    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        <div class="action-bar">
            @if (CanEdit)
            {
                <MatTooltip Tooltip="Edit Episode">
                    <MatIconButton RefBack="@context" Icon="edit" @onclick="OpenEditEpisodeDialog"></MatIconButton>
                </MatTooltip>
            }
            @if (CanDelete)
            {
                <MatTooltip Tooltip="Delete Episode">
                    <MatIconButton RefBack="@context" Icon="delete" @onclick="DeleteDecremented"></MatIconButton>
                </MatTooltip>
            }
            @if (CanEdit)
            {
                <MatTooltip Tooltip="Edit Image">
                    <MatIconButton RefBack="@context" Icon="image" @onclick="OpenEditEpisodeImageDialog"></MatIconButton>
                </MatTooltip>
            }

            @if (Episode != null && Episode.IsMine)
            {
                @if (Episode.IsSeen)
                {
                    <MatButton @onclick="@(() => SetSeenStatus(false))">Set as Unseen</MatButton>
                }
                else
                {
                    <MatButton @onclick="@(() => SetSeenStatus(true))">Set as Seen</MatButton>
                }
            }
            <span class="spacer"></span>
            <MatButton @onclick="@(() => Navigation.NavigateTo("/series"))">Series List</MatButton>
            <MatButton @onclick="@(() => Navigation.NavigateTo("/my-series"))">My Series List</MatButton>
        </div>
        @if (Episode != null)
        {
            <div class="data">
                <div class="data-rows">
                    <div class="data-row">
                        <strong>Description: </strong> @WriteHelper.WriteEmptyableField(Episode.Description)
                    </div>
                </div>
                <div class="image">
                    <div class="picture">
                        @if (Episode.ImageData.Length == 0)
                        {
                            <img src="/images/profile-icon.jpg" alt="@Episode.Title"/>
                        }
                        else
                        {
                            <img src="@EpisodeImage" alt="@Episode.ImageTitle"/>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>