@page "/movies/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using ManagerAPI.Shared.Helpers
@attribute [Authorize]

<div class="sl-movie-data">
    @if (Movie != null)
    {
        <h1 class="em-page-title">@Movie.Title</h1>
    }
    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        <div class="action-bar">
            <MatButton @onclick="OpenEditMovieDialog">Edit</MatButton>
            <MatButton @onclick="DeleteBook">Delete</MatButton>
            @if (Movie != null)
            {
                @if (Movie.IsMine)
                {
                    <MatButton @onclick="RemoveFromMyBooks">Remove From My Books</MatButton>
                }
                else
                {
                    <MatButton @onclick="AddToMyBooks">Add to My Books</MatButton>
                }
            }
            <span class="spacer"></span>
            <MatButton @onclick="@(() => Navigation.NavigateTo("/movies"))">Movie List</MatButton>
            <MatButton @onclick="@(() => Navigation.NavigateTo("/my-movies"))">My Movie List</MatButton>
        </div>
        @if (Movie != null)
        {
            <div class="data">
                <div class="data-row">
                    <strong>Description: </strong> @WriteHelper.WriteEmptyableField(Movie.Description)
                </div>
                <div class="data-row">
                    <strong>Year: </strong> @WriteHelper.WriteNullableField(Movie.Year)
                </div>
                <div class="data-row">
                    <strong>Creation: </strong> @DateHelper.DateToString(Movie.Creation)
                </div>
                <div class="data-row">
                    <strong>Last Update: </strong> @DateHelper.DateToString(Movie.LastUpdate)
                </div>
                <div class="data-row">
                    <strong>Creator: </strong> @Movie.Creator
                </div>
                <div class="data-row">
                    <strong>Last Updater: </strong> @Movie.LastUpdater
                </div>
            </div>
        }
    }
</div>