@page "/series/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using ManagerAPI.Shared.Helpers
@attribute [Authorize]

<div class="sl-series-data">
    @if (Series != null)
    {
        <h1 class="em-page-title">@Series.Title</h1>
    }
    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        <div class="action-bar">
            <MatButton @onclick="OpenEditSeriesDialog">Edit</MatButton>
            <MatButton @onclick="DeleteSeries">Delete</MatButton>
            @if (Series != null)
            {
                @if (Series.IsMine)
                {
                    <MatButton @onclick="RemoveFromMySeriesList">Remove From My Series</MatButton>
                }
                else
                {
                    <MatButton @onclick="AddToMySeriesList">Add to My Series</MatButton>
                }

                @if (Series.IsSeen)
                {
                    <MatButton @onclick="@(() => SetSeenStatus(false))">Set as Unseen</MatButton>
                }
                else
                {
                    <MatButton @onclick="@(() => SetSeenStatus(true))">Set as Seen</MatButton>
                }
            }
            <span class="spacer"></span>
            <MatButton @onclick="@(() => Navigation.NavigateTo("/series"))">Series List</MatButton>
            <MatButton @onclick="@(() => Navigation.NavigateTo("/my-series"))">My Series List</MatButton>
        </div>
        @if (Series != null)
        {
            <div class="data">
                <div class="data-row">
                    <strong>Description: </strong> @WriteHelper.WriteEmptyableField(Series.Description)
                </div>
                <div class="data-row">
                    <strong>Start Year: </strong> @WriteHelper.WriteNullableField(Series.StartYear)
                </div>
                <div class="data-row">
                    <strong>End Year: </strong> @WriteHelper.WriteNullableField(Series.EndYear)
                </div>
                <div class="data-row">
                    <strong>Creation: </strong> @DateHelper.DateToString(Series.Creation)
                </div>
                <div class="data-row">
                    <strong>Last Update: </strong> @DateHelper.DateToString(Series.LastUpdate)
                </div>
                <div class="data-row">
                    <strong>Creator: </strong> @Series.Creator
                </div>
                <div class="data-row">
                    <strong>Last Updater: </strong> @Series.LastUpdater
                </div>
            </div>
            <div class="seasons">
                <div class="em-sub-title">Seasons</div>
                @foreach (var season in Series.Seasons)
                {
                    <div class="season">
                        <div class="head">
                            Season @season.Number
                        </div>
                        <div class="body">
                            <div class="episodes">
                                @foreach (var episode in season.Episodes)
                                {
                                    <div class="episode">
                                        <div class="ep-head">
                                            @episode.Number - [Title]
                                        </div>
                                        <div class="ep-body">
                                            @episode.Description
                                        </div>
                                    </div>
                                }

                                @if (season.Episodes.Count == 0)
                                {
                                    <div class="text-center">Season does not have any episode yet.</div>
                                }

                                <div class="episode-action">
                                    <span class="spacer"></span>
                                    <MatButton>Add Episode</MatButton>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (Series.Seasons.Count == 0)
                {
                    <div class="text-center">Series does not have any season yet.</div>
                }

                <div class="season-action">
                    <span class="spacer"></span>
                    <MatButton>Add Season</MatButton>
                </div>
            </div>
        }
    }
</div>