<div class="blazored-modal-container @ComponentPosition @(IsVisible ? "blazored-modal-active" : string.Empty)">
    <MatCard Class="blazored-modal">
        @if (!ComponentHideHeader)
        {
            <div class="blazored-modal-header">
                <h3 class="blazored-modal-title">@Title</h3>
               <span class="spacer"></span>
                @if (!ComponentHideCloseButton)
                {
                    <MatIconButton Class="blazored-modal-close" Icon="clear" @onclick="ModalService.Cancel"></MatIconButton>
                }
            </div>
        }
        <div class="blazored-modal-content">
            <div class="@ComponentStyle">
                <CascadingValue Value="this">
                    <CascadingValue Value="@Parameters">
                        @Content
                    </CascadingValue>
                </CascadingValue>
            </div>
        </div>
        <MatCardActions Class="blazored-modal-footer">
            <span class="spacer"></span>
            @if(ShowConfirmButton)
            {
                <MatButton @onclick="ModalService.Confirm">@ConfirmButtonText</MatButton>
            }
            @if(ShowCancelButton)
            {
                <MatButton @onclick="ModalService.Cancel">@CancelButtonText</MatButton>
            }
        </MatCardActions>
    </MatCard>
    <div class="blazored-modal-overlay" @onclick="HandleBackgroundClick"></div>
</div>