@page "/my-todos"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inherits MyTasksBase


    <div class="em-my-tasks">
        <h1 class="em-page-title">My Tasks</h1>

        <div class="action-bar">
            <MatButton @onclick="OpenAddTaskModal">Add Task</MatButton>
        </div>

        @if (IsLoading)
        {
            <Loader></Loader>
        }
        else
        {
            @if (TaskList != null && TaskList.Count > 0)
            {
                @foreach (var group in TaskList)
                {
                    <div class="date-groups @(group.OutOfRange ? "out-of-range" : "standard") @(group.AllSolved ? "all-solved" : "")">
                        <div class="date">@HelperService.DateToDayString(group.Deadline)</div>
                        @foreach (var task in group.TaskList)
                        {
                            <div class="task @(task.IsSolved && !group.AllSolved ? "solved" : "")">
                                <div class="title">
                                    <span class="text">@task.Title</span>
                                    <span class="spacer"></span>
                                    <MatSlideToggle TValue="bool" Value="@task.IsSolved" ValueChanged="@(e => IsSolvedChanged(e, task.Id, group))"></MatSlideToggle>
                                </div>
                                <div class="description">
                                    <div class="description-text">@task.Description</div>
                                    <div class="description-button">
                                        <div class="wrapper">
                                            <span class="spacer"></span>
                                            <MatIconButton Icon="edit" @onclick="@(() => OpenUpdateTaskModal(task.Id))"></MatIconButton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
            else
            {
                <div>You does not have any task. Thats cool :)</div>
            }
        }
    </div>