@page "/my-tasks"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@using ManagerAPI.Shared.Helpers
@inherits MyTasksBase


<div class="em-my-tasks">
    <h1 class="em-page-title">My Tasks</h1>
    <div class="action-bar">
        <MatTooltip Tooltip="Add Task">
            <MatIconButton RefBack="@context" Icon="add" @onclick="OpenAddTaskModal"></MatIconButton>
        </MatTooltip>
        <span class="spacer"></span>
        <MatSelect TValue="bool?" Value="IsSolvedSelectorValue" Label="Is Solved" Outlined="true" Dense="true" ValueChanged="@(val => IsSolvedSelectorValueChanged(val))">
            <MatOption TValue="bool?" Value="null"></MatOption>
            <MatOption TValue="bool?" Value="true">Only Solved</MatOption>
            <MatOption TValue="bool?" Value="false">Only Not Solved</MatOption>
        </MatSelect>
    </div>

    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        @if (TaskList != null && TaskList.Count > 0)
        {
            @foreach (var group in TaskList)
            {
                <div class="date-groups @(group.OutOfRange ? "out-of-range" : "standard") @(group.AllSolved ? "all-solved" : "")">
                    <div class="date">@DateHelper.DateToDayString(group.Deadline)</div>
                    @foreach (var task in group.TaskList)
                    {
                        <div class="task @(task.IsSolved && !group.AllSolved ? "solved" : "")">
                            <div class="title">
                                <span class="text">@task.Title</span>
                                <span class="spacer"></span>
                                <MatSlideToggle TValue="bool" Value="@task.IsSolved" ValueChanged="@(e => IsSolvedChanged(e, task.Id, group))"></MatSlideToggle>
                            </div>
                            <div class="description">
                                <div class="description-text">@task.Description</div>
                                <div class="description-button">
                                    <div class="wrapper">
                                        <span class="spacer"></span>
                                        <MatTooltip Tooltip="Edit Task">
                                            <MatIconButton RefBack="@context" Icon="edit" @onclick="@(() => OpenUpdateTaskModal(task.Id))"></MatIconButton>
                                        </MatTooltip>
                                        <MatTooltip Tooltip="Delete Task">
                                            <MatIconButton RefBack="@context" Icon="delete" @onclick="@(() => OpenDeleteModal(task))"></MatIconButton>
                                        </MatTooltip>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div>You does not have any task. Thats cool :)</div>
        }
    }
</div>