@typeparam TList

@if (Header != null)
{
    <div class="list">
        @if (ShowFilter)
        {
            <div class="filter">
                <MatTextField TValue="string" class="w-100" Label="Filter" Dense="true" Outlined="true" ValueChanged="@(val => Filter(val))"></MatTextField>
            </div>
        }
        <table>
            <thead>
            <tr>
                @foreach (var head in Header)
                {
                    <th @onclick="@(() => HeaderClick(head))">@head.DisplayName</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var body in DisplayList)
            {
                <tr @onclick="@(() => RowClick(body))" class="@(IsSelectionEnabled && SelectedIndexes.Contains(body.Id) ? "selected" : "")">
                    @foreach (var head in Header)
                    {
                        <td>@head.Displaying(GetProperty(body, head.PropertyName))</td>
                    }
                </tr>
            }
            </tbody>
            @if (FooterDisplay)
            {
                <tfoot>
                <tr>
                    @foreach (var foot in Footer)
                    {
                        <th>@foot</th>
                    }
                </tr>
                </tfoot>
            }
        </table>
    </div>
}