@page "/wm/{date:datetime}"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<div class="wm">
    <div class="title-bar">
        <div class="em-page-title">Working Manager</div>
        <span class="spacer"></span>
        <div class="date">@HelperService.DateToDayString(Date)</div>
    </div>
    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        <div class="action-bar">

            @if (WorkingDay == null)
            {
                <MatButton @onclick="InitWorkingDay">Initalize</MatButton>
            }
            else
            {
                <MatButton @onclick="OpenAddFieldModal">Add Field</MatButton>
            }
            <span class="spacer"></span>
            <MatIconButton Icon="chevron_left" @onclick="@(() => Redirect(false))"></MatIconButton>
            <MatIconButton Icon="chevron_right" @onclick="@(() => Redirect(true))"></MatIconButton>
        </div>
        <div>
            @if (WorkingDay == null)
            {
                <div class="text-center">You do not have working day settings on this day. Please create one.</div>
            }
            else
            {
                <div class="working-day-settings">
                    <div class="em-sub-title">Settings</div>
                    <EditForm Model="WorkingDay" OnValidSubmit="Save">
                        <div class="row col col-12">
                            @if (WorkingDayTypes != null)
                            {
                                <div class="col col-12 col-sm-6 p1">
                                    <MatSelect Class="w-100" @bind-Value="WorkingDay.Type" Label="Type" Dense="true" Outlined="true">
                                        @foreach (var type in WorkingDayTypes)
                                        {
                                            <MatOption TValue="int" Value="type.Id">@type.Title</MatOption>
                                        }
                                    </MatSelect>
                                </div>
                            }
                        </div>
                        <div class="text-right">
                            <MatButton Raised="true" type="submit">Save Settings</MatButton>
                        </div>
                    </EditForm>
                </div>
                @if (WorkingFields != null && WorkingFields.Count > 0 && WorkingDayStat != null)
                {
                    <div class="stats">
                        <div class="em-sub-title">Statistics</div>
                        <div class="hour-sum">
                            <strong>Sum hour:</strong> @HelperService.MinToHour(WorkingDayStat.SumMinutes) h

                        </div>
                        <div class="state">
                            @if (@WorkingDayStat.IsALot)
                            {
                                <div class="is-lot">
                                    Lots of hour on this day
                                </div>
                            }
                            else if (@WorkingDayStat.IsOptimal)
                            {
                                <div class="optimal">
                                    Optimal hour on this day
                                </div>
                            }
                            else if (@WorkingDayStat.IsEnough)
                            {
                                <div class="enough">
                                    Enough hour on this day
                                </div>
                            }
                            else
                            {
                                <div class="not-enough">
                                    Not enough hour on this day
                                </div>
                            }
                        </div>
                    </div>
                    <div class="field-list">
                        <div class="em-sub-title">Working Fields</div>
                        @foreach (var field in WorkingFields)
                        {
                            <Field WorkingField="field" WorkingDayId="(int)WorkingDayId" IsModifiable="true" Close="GetWorkingDay"></Field>
                        }
                    </div>
                }
            }
        </div>
    }
</div>