@page "/wm/{date:datetime}"
@inherits WorkingManagerBase
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<div class="wm">
    <div class="title-bar">
        <div class="em-page-title">Working Manager</div>
        <span class="spacer"></span>
        <div class="date">@HelperService.DateToDayString(Date)</div>
    </div>
    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        <div class="action-bar">

            @if (WorkingDay == null)
            {
                <MatButton @onclick="InitWorkingDay">Initalize</MatButton>
            }
            else
            {
                <MatButton @onclick="OpenAddFieldModal">Add Field</MatButton>
            }
            <span class="spacer"></span>
            <MatIconButton Icon="chevron_left" @onclick="@(() => Redirect(false))"></MatIconButton>
            <MatIconButton Icon="chevron_right" @onclick="@(() => Redirect(true))"></MatIconButton>
        </div>
        <div>
            @if (WorkingDay == null)
            {
                <div class="text-center">You do not have working day settings on this day. Please create one.</div>
            }
            else
            {
                <div class="working-day-settings">
                    <div class="em-sub-title">Settings</div>
                    <EditForm Model="WorkingDay" OnValidSubmit="Save">
                        <div class="row col col-12">
                            <div class="col col-6 col-sm-6 p-1">
                                <MatNumericUpDownField class="w-100" DecimalPlaces="0" Minimum="0" Maximum="23" @bind-Value="WorkingDay.StartHour" Dense="true" Label="Start Hour" Outlined="true"></MatNumericUpDownField>
                            </div>
                            <div class="col col-12 col-sm-6 p-1">
                                <MatNumericUpDownField class="w-100" DecimalPlaces="0" Minimum="0" Maximum="59" @bind-Value="WorkingDay.EndHour" Dense="true" Label="End Hour" Outlined="true"></MatNumericUpDownField>
                            </div>
                            <div class="col col-12 col-sm-6 p-1">
                                <MatNumericUpDownField class="w-100" DecimalPlaces="0" Minimum="0" Maximum="23" @bind-Value="WorkingDay.StartMin" Dense="true" Label="Start Min" Outlined="true"></MatNumericUpDownField>
                            </div>
                            <div class="col col-12 col-sm-6 p-1">
                                <MatNumericUpDownField class="w-100" DecimalPlaces="0" Minimum="0" Maximum="59" @bind-Value="WorkingDay.EndMin" Dense="true" Label="End Min" Outlined="true"></MatNumericUpDownField>
                            </div>
                            @if (WorkingDayTypes != null)
                            {
                                <div class="col col-12 col-sm-6 p1">
                                    <MatSelect Class="w-100" @bind-Value="WorkingDay.Type" Label="Gender" Dense="true" Outlined="true">
                                        @foreach (var type in WorkingDayTypes)
                                                    {
                                            <MatOption TValue="int" Value="type.Id">@type.Title</MatOption>
                                                    }
                                    </MatSelect>
                                </div>
                            }
                        </div>
                        <div class="text-right">
                            <MatButton Raised="true" type="submit">Save Settings</MatButton>
                        </div>
                    </EditForm>
                </div>
                <div class="field-list">
                    @foreach (var field in WorkingFields)
                    {
                        <div @onclick="@(() => OpenUpdateFieldModal(field.Id))" class="field">
                            <div class="title-row">
                                @field.Title
                                <span class="spacer"></span>
                                @field.Length h
                            </div>
                            <div class="description">
                                @field.Description
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>