@page "/wm/week/{week:datetime}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="wm-week">
    <div class="title-bar">
        <div class="em-page-title">Working Week Statistics</div>
        <span class="spacer"></span>
        <div class="date">@HelperService.DateToWeekString(Week)</div>
    </div>
    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        <div class="action-bar">
            <span class="spacer"></span>
            <MatIconButton Icon="chevron_left" @onclick="@(() => Redirect(false))"></MatIconButton>
            <MatIconButton Icon="chevron_right" @onclick="@(() => Redirect(true))"></MatIconButton>
        </div>
        @if (WeekStat != null)
        {
            <div class="stat-box">
                <div class="data-row">
                    <strong>Summary hours: </strong> @WeekStat.HourSum
                </div>
                <div class="data-row">
                    <strong>Avgerate hours: </strong> @WeekStat.HourAvg
                </div>
                <div class="data-row">
                    <strong>Active / Inactive days: </strong> @WeekStat.ActiveDays / @WeekStat.InactiveDays
                </div>
                @foreach (var type in @WeekStat.Counts) 
                {
                    <div>
                        <strong>@type.Type:</strong> @type.Count
                    </div>
                }
            </div>
            <div class="field-list">
                <div class="em-sub-title">Working Fields</div>
                @foreach (var field in @WeekStat.Fields)
                {
                    <Field WorkingField="field" IsModifiable="false"></Field>
                }
            </div>
        }
    }
</div>